.DS_Store
.env
.env.*
!.env.example
development/**/*
**/.svelte-kit
**/vendor
frontend/build/
frontend/package/

**/.git
**/.svn
**/.hg
**/node_modules

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock